NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/successo
JWT_SECRET=FI3982OYg4innLZil3gbwszcXdXT539Z

SENDGRID_USERNAME=Successo
SENDGRID_API_KEY= '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'
EMAIL_FROM= 'example@gmail.com'

```